html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

:root {
  --clr-text: #ffffff;
  --clr-card-bg: #303030;
  --clr-border: #444444;
  --clr-body-bg: #222222;
  --clr-accent: #00bc8c;
  --ff-sans: Lato, sans-serif;
  --radius: 0.25rem;
}

html {
  font-size: 15px;
}

body {
  color: var(--clr-text);
  background-color: var(--clr-body-bg);
  font-family: var(--ff-sans);
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 1rem;
  padding: 1rem 0;
}
.grid--head {
  grid-template-columns: 200px 1fr;
  align-items: center;
}
.grid--head > :nth-child(2) {
  justify-self: end;
}
@media screen and (min-width: 768px) {
  .grid--app {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "head head" "mystery mystery" "group single" "button button";
  }
  .grid--app > :nth-child(1) {
    grid-area: head;
  }
  .grid--app > :nth-child(2) {
    grid-area: mystery;
  }
  .grid--app > :nth-child(3) {
    grid-area: group;
  }
  .grid--app > :nth-child(4) {
    grid-area: single;
  }
  .grid--app > :nth-child(5) {
    grid-area: button;
  }
}

.card {
  background-color: var(--clr-card-bg);
  border-radius: var(--radius);
  padding: 1rem;
  display: grid;
  justify-items: center;
  row-gap: 0.75rem;
}
.card .picture {
  border-radius: inherit;
  width: 200px;
  aspect-ratio: 16/12;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .title {
  font-size: 2rem;
}
.card .subtitle {
  font-size: 1.5rem;
}
.card .player {
  justify-self: stretch;
}
@media screen and (min-width: 570px) {
  .card--mystery {
    grid-template-columns: auto 1fr;
    grid-template-areas: "picture title" "picture player" "picture .";
    grid-auto-rows: 1fr;
    justify-items: stretch;
    align-items: start;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .card--mystery .picture {
    grid-area: picture;
  }
  .card--mystery .title {
    grid-area: title;
    text-align: left;
  }
  .card--mystery .player {
    grid-area: player;
  }
}
.card--candidate {
  border: 1px solid var(--clr-border);
}
@media screen and (min-width: 570px) {
  .card--candidate {
    grid-template-columns: auto 1fr;
    grid-template-areas: "picture title" "picture subtitle" "picture player" "description description";
    justify-items: start;
    align-items: start;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  .card--candidate .picture {
    grid-area: picture;
  }
  .card--candidate .title {
    grid-area: title;
  }
  .card--candidate .subtitle {
    grid-area: subtitle;
  }
  .card--candidate .description {
    grid-area: description;
  }
}
.card--score {
  padding: 4rem 2rem;
  font-weight: 300;
  text-align: center;
}
.card--score .title {
  font-weight: inherit;
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.card--score .description {
  font-weight: inherit;
  font-size: 1.171875rem;
  margin-bottom: 1rem;
}
.card--score hr {
  width: 100%;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-block: 1rem;
}
.card--score .button {
  width: 100%;
  font-size: 1.25rem;
}

.player {
  display: grid;
  grid-template-columns: auto 5fr 1fr;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
  align-items: center;
}
.player .playpause {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--clr-accent);
  background-color: transparent;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.player .playpause:hover > svg {
  transform: scale(1.25);
}
.player .playpause > svg {
  height: 1rem;
  transition: 0.2s ease;
  fill: var(--clr-accent);
}
.player .timeline {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
}

.range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 2.5px;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: var(--clr-accent);
}

.group--rounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #008966;
  border-radius: var(--radius);
  overflow: hidden;
}
.group--rounds > * {
  flex: auto;
  padding: 0.5rem 0.75rem;
  text-align: center;
  text-transform: capitalize;
}
.group--rounds > *.active {
  background-color: var(--clr-accent);
}
.group--candidates {
  background-color: var(--clr-card-bg);
}
.group--candidates > * {
  padding: 0.85rem 1.25rem;
  background-color: #303030;
  border: 1px solid #555;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}
.group--candidates > *::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #444444;
}
.group--candidates > *.success::before {
  background-color: var(--clr-accent);
}
.group--candidates > *.error::before {
  background-color: #d62c1a;
}
.group--candidates > *:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.group--candidates > *:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.group--candidates > *:not(:first-child) {
  border-top-width: 0;
}
.group--candidates > *:hover {
  background-color: #444444;
}

.button {
  text-transform: capitalize;
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-card-border);
  color: inherit;
  padding: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: 0.2s ease;
}
.button:hover {
  background-color: #008966;
}
.button:disabled {
  background-color: var(--clr-card-bg);
  cursor: auto;
}/*# sourceMappingURL=app.css.map */