html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

:root {
  --clr-text: #ffffff;
  --clr-card-bg: #303030;
  --clr-card-border: #444444;
  --clr-body-bg: #222222;
  --clr-accent: #00bc8c;
  --ff-sans: Lato, sans-serif;
  --radius: 0.25rem;
}

html {
  font-size: 15px;
}

body {
  color: var(--clr-text);
  background-color: var(--clr-body-bg);
  font-family: var(--ff-sans);
}

.container {
  width: min(90%, 1200px);
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 1rem;
}
.card {
  padding: 1rem;
  background-color: var(--clr-card-bg);
  border: 1px solid var(--clr-card-border);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.card__body {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
.card__title {
  font-size: 2rem;
}
.card > img {
  border-radius: inherit;
  max-width: 200px;
  width: 100%;
  aspect-ratio: 16/12;
  -o-object-fit: cover;
     object-fit: cover;
}
.button {
  background-color: var(--clr-accent);
  border: 1px solid var(--clr-card-border);
  color: inherit;
  padding: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
}
.button:disabled {
  background-color: var(--clr-card-bg);
  cursor: auto;
}

.player {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.player__play-button {
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  border: 2px solid var(--clr-accent);
  background-color: transparent;
  cursor: pointer;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.player__play-button:hover > svg {
  transform: scale(1.25);
}
.player__play-button > svg {
  height: 1rem;
  transition: 0.2s ease;
  fill: var(--clr-accent);
}
.player__volume {
  width: 5rem;
}
.player__timeline {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.85rem;
}

.range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 2.5px;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 100%;
  background-color: var(--clr-accent);
}

.list__item {
  padding: 0.85rem 1.25rem;
  background-color: #303030;
  border: 1px solid #555;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}
.list__item::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #444444;
}
.list__item.success::before {
  background-color: var(--clr-accent);
}
.list__item.error::before {
  background-color: #d62c1a;
}
.list__item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.list__item:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.list__item:not(:first-child) {
  border-top-width: 0;
}
.list__item:hover {
  background-color: #444444;
}/*# sourceMappingURL=main.css.map */